<aside class="share-container">
    <p class="share-inner">
        <span class="share-title">Share: </span>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}">
            <img src="/icons/facebook.png" class="share-img">
        </a>
        <a href="https://twitter.com/home?status={{ .Permalink }}">
            <img src="/icons/twitter.png" class="share-img">
        </a>
        <a href="https://plus.google.com/share?url={{ .Permalink }}">
            <img src="/icons/g+.png" class="share-img">
        </a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}">
            <img src="/icons/linkedin.png" class="share-img">
        </a>
    </p>
</aside>